@import "bower_components/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Nova+Mono');

@import "base/all";
@import "layout/all";
@import "modules/all";

*:focus {
  outline: none;
  box-shadow: none;
    -webkit-box-shadow: none;
      -moz-box-shadow: none;
}

html { background-color: $barossa; }

textarea.section__form--text {
  width: 100%;
  height: 400px;
  resize: none;
  padding: 19px;
  color: $almost-white;
  background-color: $dark-byzantium;
  font-size: $general-size;
  font-family: $mono-font;
  border-width: 15px;
  border-color: #351c2b;
  border-top: 0;
  border-left: 0;
}

input.section__form--submit {
  cursor: pointer;
  padding: 10px 8px 6px;
  color: $almost-white;
  width: 100%;
  background-color: $smokey-topaz;
  font-size: $general-size;
  border-color: $red-violet;
  border-width: $border-width;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  &:active {
    border-bottom-color: $smokey-topaz;
    background-color: $red-violet;
  }
}

.section__form {
  &--control {
    margin-top: 18px;
    margin-bottom: 36px;
    .label {
      color: $red-violet;
      font-weight: 600;

      span { color: $dark-pink; }
    }

    #voice {
      color: #e9498a;
      margin-top: 5px;
      padding: 10px 8px;
      width: 100%;
      background-color: transparent;
      font-size: $general-size;
      border-width: $border-width;
      border-color: $smokey-topaz;
      border-bottom-color: $red-violet;
    }

    #rate {
      -webkit-appearance: none;
      width: 100%;
      background: transparent;

      &::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 0;
        height: 35px;
        width: 6px;
        border-radius: 0;
        background: $dark-pink;
        cursor: pointer;
        margin-top: -14px;
      }

      /* All the same stuff for Firefox */
      &::-moz-range-thumb {
        box-shadow: 0;
        border: 0;
        height: 35px;
        width: 6px;
        border-radius: 0;
        background: $dark-pink;
        cursor: pointer;
      }

      /* All the same stuff for IE */
      &::-ms-thumb {
        box-shadow: 0;
        border: 0;
        height: 35px;
        width: 6px;
        border-radius: 0;
        background: $dark-pink;
        cursor: pointer;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 7px;
        cursor: pointer;
        box-shadow: 0;
        background: $smokey-topaz;
        border-radius: 0;
        border: 0;
      }

      &::-moz-range-track {
        width: 100%;
        height: 7px;
        cursor: pointer;
        box-shadow: 0;
        background: $smokey-topaz;
        border-radius: 0;
        border: 0;
      }

      &::-ms-track {
        width: 100%;
        height: 7px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        border-width: 0;
        color: transparent;
      }
    }
  }
}


/*   footer   */
.footer {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 0;
  right: 0;
}

.bg {
  &--ground {
    background-color: $black;
    bottom: 0;
    height: 20px;
    @extend .footer;
  }

  &--lvl1 {
    bottom: 20px;
    height: 64px;
    background-color: rgba(119, 90, 108, 0.17);
    @extend .footer;
  }

  &--lvl2 {
    bottom: 84px;
    height: 400px;
    background-color: rgba(226, 208, 219, 0.08);
    @extend .footer;
  }
  
  &--robot {
    position: absolute;
    bottom: 50px;
    left: 42.5%;
  }
}