// colors
$almost-white: #ffe9f2;
$dark-pink: #e34988;
$red-violet: #c9009c;
$smokey-topaz: #953159;
$dark-byzantium: #693353;
$purple-taupe: #513144;
$barossa: #422737;
$black: #000;
$purple: #e34988;
$red: #dc2929;

// fonts
$heading-size: 2em;
$general-size: 1em;
$sans-font: 'Rajdhani', sans-serif;
$mono-font: 'Nova Mono', monospace;

// border
$border-width: 4px;


