#eyes .eye {
  transform-origin: 0px;
  animation: blink 4s linear infinite;
}

@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(3px) scaleY(0);
  }
  100% {
    animation-timing-function: ease-out;
  }
}

#upper-body {
  transform: rotate(2deg);
  transform-origin: 50% 50%;
  animation: tilt 2s linear infinite; 
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}